body {

  background: rgba(242, 182, 4, 1);
}

h1 {
  background:  rgba(54, 89, 1, 1); 
  margin-left: 700px;
  margin-right: 700px;
  border-radius: 25px;
  padding: 25px 25px;
  box-shadow: 5px 5px 5px;
 

};

.container {
  width: 200px;
  height: 10px;
}


.container img {
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

li {
  padding: 5px;
  margin: 5px;

}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

.shadow {
  background: rgba(242, 174, 92, 1);
    border-radius: 25px;
    box-shadow: 5px 5px 5px;
}

.col-12 {
  height: 100px;
}